anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
catboost==0.24.3
chart-studio==1.1.0
conda==4.9.2
conda-build==3.18.11
conda-package-handling @ file:///D:/bld/conda-package-handling_1602877082869/work
conda-verify==3.4.2
cookiecutter==1.7.2
echo @ file:///home/conda/feedstock_root/build_artifacts/echo_1600378613587/work
Flask==1.1.2
glueviz==0.15.2
graphviz==0.15
HeapDict==1.0.1
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
imagesize==1.2.0
imongo-kernel==0.1.0
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-server @ file:///D:/bld/jupyter_server_1608772843260/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1608772130784/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1608758016764/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1609173350931/work
jupyterthemes==0.20.0
lightgbm==3.1.0
lxml @ file:///D:/bld/lxml_1606483759944/work
matplotlib @ file:///D:/bld/matplotlib-suite_1605180506412/work
missingno==0.4.2
navigator-updater==0.2.1
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1602859080374/work
nbconvert==5.6.1
nbformat==5.0.7
nltk==3.4.4
notebook==6.1.3
pandas @ file:///D:/bld/pandas_1609079442959/work
pandas-profiling==2.9.0
pandocfilters==1.4.2
parsel @ file:///home/conda/feedstock_root/build_artifacts/parsel_1591122878042/work
partd==1.1.0
path @ file:///D:/bld/path_1607461645375/work
pathlib2 @ file:///D:/bld/pathlib2_1604234378806/work
plotly-express==0.4.0
pyparsing==2.4.7
regex @ file:///D:/bld/regex_1605271080226/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
requests-kerberos==0.12.0
scikit-image==0.16.2
scikit-learn @ file:///D:/bld/scikit-learn_1608656402924/work
scikit-surprise==1.1.1
scipy @ file:///C:/bld/scipy_1604304921792/work
Scrapy @ file:///D:/bld/scrapy_1596643995875/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-base_1608544589436/work
selenium @ file:///D:/bld/selenium_1602632660275/work
sklearn==0.0
sniffio @ file:///D:/bld/sniffio_1606397474935/work
snowballstemmer==2.0.0
spyder @ file:///C:/ci/spyder_1594830825244/work
spyder-kernels @ file:///C:/ci/spyder-kernels_1599051709837/work
SQLAlchemy @ file:///D:/bld/sqlalchemy_1608367002681/work
statsmodels @ file:///D:/bld/statsmodels_1604227114522/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1608900042843/work
ujson @ file:///D:/bld/ujson_1605189820213/work
unicodecsv==0.14.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1605225765842/work
widgetsnbextension==3.5.1
xgboost==1.2.1

